@{
    ViewData["Title"] = "About";
}
<br>
<h2>
    What is Pacman
</h2>
<p>
    It's called Pacman in the UK, and Pac man in Japan. What is it? A new fun, entertaining and highly addictive puzzle game that is the an arcade classic. In Japan, Pac man aka Pacman popularity is immense, second only to Pacman among Nintendos famed Mario offerings. The Pacman craze came to this side of the world when The Guardian in Britain began printing the publishing under the name Pacman in September 2005; since then many other British papers have followed suit and now also print daily puzzles, and the craze is growing..
</p>
<h2>
    Source Code
</h2>
<p>
    <a href="https://github.com/deep-kun/PacmanGame">https://github.com/deep-kun/PacmanGame</a>
</p>
