
@page
<h1 id="k">Press the arrow to move</h1>
<canvas style="width: 80%; height: 100%;" id="canvas"></canvas>
<div class="container">

    <h2>Score = </h2>
    <h2 id="score">0</h2>

    <h2>Lives = </h2>
    <h2 id="lives">0</h2>

    <button id="restartButtom">Restart</button>
</div>  
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/game.js"></script>
